# === Configuration Variables ===
INPUT_DIR=C:\Docling_working_dir\Input
BASE_OUTPUT_DIR=C:\Docling_working_dir\Output
OLLAMA_MODEL=granite3.3:2b
OLLAMA_ENDPOINT=http://localhost:11434/api/generate
DEBUG_TRACE=False
